:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #333;
}

.main-router-outlet {
  flex: 1 1 100%;
  display: flex;
}

.nav-container {
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #666;

    .nav-link {
      text-decoration: none;
      font-weight: bold;
      color: whitesmoke;
      text-transform: uppercase;

      &.route-active {
        color: white;
      }
    }
  }
}
